# Large raw media & photogrammetry build databases
DJI_0001_remuxed.mp4
drone_frames/
drone_frames_hd/
drone_frames_kf/
colmap_db.db
colmap_hd_db.db*
colmap_kf_db.db*
colmap_sparse/
colmap_hd_sparse/
colmap_kf_sparse/
colmap_text/
colmap_hd_text/
colmap_kf_text/
drone_sparse_pointcloud_kf.ply

# OS files
.DS_Store



